.DS_Store
.project
.classpath
.factorypath
.nvimrc.json
target/
//target//
.settings
.tool-versions
.envrc
.nvimrc.json
!./src/test/resources-its/com/twlabs/mojos/TemplifyIT/test_using_custom_placeholder_settings/target/template
.secrets
.variables
.actrc
